# Nasty system files
.DS_Store
Thumbs.db

# Development stuffs
*.db
*.db-journal
*.pyc
*.pyo
*.swp
*.swo

# zc.bulidout
.installed.cfg
bin/
develop-eggs/
downloads/
dist/
eggs/
parts/
build/
*.egg-info

# Application-specific
dist/
docs/_build
